name = "pinning"
type = "javascript"
account_id = "b3f9fdfd827152316d080a5ddee59915"
workers_dev = true
compatibility_date = "2022-01-18"

[vars]
WORKERS_RS_VERSION = "0.0.7"

[build]
command = "cargo install -q worker-build && worker-build --release" # required

[build.upload]
dir    = "build/worker"
format = "modules"
main   = "./shim.mjs"

[[build.upload.rules]]
globs = ["**/*.wasm"]
type  = "CompiledWasm"


[secrets]
# ESTUARY_API_TOKEN

# read more about configuring your Worker via wrangler.toml at:
# https://developers.cloudflare.com/workers/cli-wrangler/configuration
